.link {
  margin: 0 auto;
  text-decoration: none;
  color: blue;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
  margin: 0 auto;
  width: 120px;
  height: 160px;
}

.linkBtn {
  display: inline;
}

.travelInfo {
  margin: 20px auto;
  width: 300px;
  display: flex;
}

.departureText,
.arrivalText {
  width: 45%;
  height: 50px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  line-height: 50px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  font-size: 1.2em;
}

.arrow {
  width: 10%;
  text-align: center;
  height: 50px;
  display: inline;
  line-height: 45px;
  font-size: 25px;
}

.checkIn {
  background: #ffdc47;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 20vw;
  min-width: 300px;
}

.checkInText {
  padding-left: 22px;
}

.checkInBtn {
  color: black;
  background: white;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 40%;
  height: 50px;
  max-height: 110px;
  margin-bottom: 2vh;
  margin-left: 9%;
}

.checkIn button:last-child {
  margin-left: 2%;
}

.checkInBtn:hover {
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.kakaolink:hover {
  font-weight: bolder;
}