.main {
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
  
.manual {
    margin: 0 auto;
    width: 90vw;
}

.manualDiv {
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    width: auto;
    max-width: 920px;
    background: #ffdc47;
    border-radius: 10px;
    margin-bottom: 10px;
}

.manualDiv h3 {
    text-align: center;
}