.list {
    width: 50vw;
    min-width: 380px;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}
  
@media screen and (max-width: 400px) {
    .list {
        font-size: .2em;
    }
} 

.list thead {
    font-weight: bold;
}

.list td,
.list th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
    width: 15%;
}

.list td:nth-child(3),
.list th:nth-child(3) {
    width: 20%;
}

.list td {
    border-bottom: 1px solid rgba(0,0,0,.1);
}