.main {
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.loginBar {
  margin: 0 auto;
}

.boxAndInput {
  height: 45px;
  display: flex;
}


.loginBox,
.loginInput {
  align-items: center;
  text-align: center;
  line-height: 1.7;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: white;
  width: 50px;
  height: 35px;
}

.loginInput {
  width: 180px;
  margin-left: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.boxAndBox {  
  height: 35px;
  display: flex;
  margin-top: 10px;
}

.signupButton {
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #ffdc47;
  width: 235px;
  margin-left: 5px;
  height: 35px;
  line-height: 1.7;
  
}

.signupButton:hover {
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.link {
  text-decoration: none;
  background-color: none;
  color: black;
}